body { margin: 0; }

#map {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 200px;
  height: 200px;
  margin-block-start: 20px;
  margin-inline: auto;
}

#map > div {
  width: 20px;
  height: 20px;
  background: var(--background-color, rgb(150,200,100));
}

.snake { --background-color: rgb(100,200,220); }
.bean { --background-color: gold; }
