body { margin: 0; }

#map {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 200px;
  height: 200px;
  margin-block-start: 20px;
  margin-inline: auto;
}

#map > div {
  width: 20px;
  height: 20px;
  background: var(--background-color, rgb(150,200,100));
}

.bean { --background-color: gold; }

.snake { --background-color: rgb(100,200,220); }
.snake::before {
  content: var(--content, '');
  text-align: center;
  color: #fff;
}
.snake.up::before { --content: '\1f879'; }
.snake.right::before { --content: '\1f87a'; }
.snake.down::before { --content: '\1f87b'; }
.snake.left::before { --content: '\1f878'; }
